{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Accessory</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<style type="text/css">
    body {
        background: black
    }

    .slide {
        margin-top: 20px;
    }

    .page-header {
        color: darkgray;
    }
</style>
<div>
    <div class="container-fluid">
        <div class="page-header">
            <h1>Accessory</h1>
        </div>
    </div>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input id="q">search</input>
        <button type="submit"></button>
    </form>

    <nav class="navbar navbar-inverse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'product' %}">Products</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#signUp" data-toggle="modal" data-target="#signUp">
                    <span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#logIn" data-toggle="modal" data-target="#logIn">
                    <span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
                <li><a href="{% url 'basket' %}" class="glyphicon glyphicon-shopping-cart"></a></li>

            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-lg-3 pull-right">
            <form method="POST" action="{% url 'search' %}">{% csrf_token %}
                <div class="input-group">
                    <input id="q" class="form-control" placeholder="search for...">
                    <span class="input-group-btn">
                     <button id="searchButton" type="submit" class="btn btn-default" aria-label="Search">
                         <span class=" glyphicon glyphicon-search" aria-hidden="true"></span>
                     </button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div id="slide" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#slide" data-slide-to="0" class="active"></li>
            <li data-target="#slide" data-slide-to="1"></li>
            <li data-target="#slide" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="center-block" src="{% static "images/slider/slider00.jpg" %}" alt="slide1"/>
            </div>
            <div class="item">
                <img class="center-block" src="{% static "images/slider/slider11.jpg" %}" alt="slide2"/>
            </div>
            <div class="item">
                <img class="center-block" src="{% static "images/slider/slider22.jpg" %}" alt="slide3"/>
            </div>
        </div>
        <a class="left carousel-control" href="#slide" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#slide" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="modal fade" id="logIn" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="logInLabel">Log In</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="username" class="control-label">Username:</label>
                        <input type="text" class="form-control" id="username">
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Password:</label>
                        <input type="text" class="form-control" id="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Log in</button>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="signUp" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Sign Up</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group col-xs-6">
                        <label for="firstname" class="control-label">First Name:</label>
                        <input type="text" class="form-control" id="firstname">
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="lastname" class="control-label">Last Name:</label>
                        <input type="text" class="form-control" id="lastname">
                    </div>
                    <div class="form-group col-xs-12">
                        <label for="email" class="control-label">Email:</label>
                        <input type="text" class="form-control" id="email">
                    </div>
                    <div class="form-group col-xs-12">
                        <label for="address" class="control-label">Address:</label>
                        <input type="text" class="form-control" id="address">
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="password" class="control-label">Password:</label>
                        <input type="text" class="form-control" id="password">
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="confirm_password" class="control-label"> Confirm Password:</label>
                        <input type="text" class="form-control" id="confirm_password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Sign up</button>
            </div>
        </div>
    </div>

</div>

{% block product %}
{% endblock %}
{% block basket %}{% endblock %}
{% block result %}{% endblock %}
</body>
</html>